# create file with name .env-bcb and copy this to it, https://stackoverflow.com/a/43664611
VUE_APP_TITLE=Blockchain Misconceptions.
VUE_APP_DESCRIPTION=Misconceptions about blockchain hold back progress. Found a misconception? Lookup-Copy-Paste our permanent links with curated expert info!
VUE_APP_SOCIAL_MEDIA_IMAGE=social-media-blockchain4.jpg