####################
# Although there is no sensitive info in .env (yet) it is not in the repository. Create file .env and copy this info over.
####################

VUE_APP_LANGUAGE_FILE="https://domainname.com/path/to/source.js/"
VUE_APP_ID=foo
VUE_APP_STACK=1
VUE_APP_TITLE=Some title text part one
VUE_APP_TITLE_2=Some title text part two
VUE_APP_SUBTITLE=Some subtitle text
VUE_APP_DESCRIPTION=Description text
VUE_APP_LOGO=""
VUE_APP_LOGO_ALT="Alt text"
VUE_APP_AUTHOR=The author
VUE_APP_SOCIAL_MEDIA_IMAGE=image-name.jpg
VUE_APP_SOCIAL_MEDIA_IMAGE_WIDTH=1200
VUE_APP_SOCIAL_MEDIA_IMAGE_HEIGHT=628
VUE_APP_PATHS_TO_ICO="path/to/ico/"
VUE_APP_GOOGLE_ANALYTICS_ID="G-XXXXXXX"
VUE_APP_NEWSTICKER=false
VUE_APP_QUIZ=false
VUE_APP_QUIZ_PAGE_SOURCE="https://domainname.com/path/to/source/"
VUE_APP_REALTIME_TWEETS=true
VUE_APP_ABOUT_PAGE_SOURCE="https://domainname.com/path/to/source/"
VUE_APP_TWEETSTREAM_HELPTEXT="https://domainname.com/path/to/source/"
VUE_APP_HOMEPAGE_VIDEO=false
VUE_APP_HOMEPAGE_VIDEO_PATH_TO_VIDEO="https://domainname.com/path/to/source.mp4/"
VUE_APP_HOMEPAGE_VIDEO_PATH_TO_POSTER_IMAGE="https://domainname.com/path/to/source.jpg/"
VUE_APP_REDIRECTS_FILE="https://domainname.com/path/to/source.js/"
VUE_APP_NEWSTICKER_SOURCE="https://domainname.com/path/to/source/"
####################

####################
# Data source:
####################
VUE_APP_CARDS_CONTENT="https://domainname.com/path/to/source/"

####################
# General config:
####################
VUE_APP_CARDGAME_SCORES="https://domainname.com/path/to/source/"
VUE_APP_REALTIME_TWITTER_JSON="https://domainname.com/path/to/source/"
VUE_APP_REALTIME_TWITTER_QUIKSTART_JSON="https://domainname.com/path/to/source/"
VUE_APP_PROSPECT_SOCIAL_MEDIA_HANDLES_CSV="https://domainname.com/path/to/source/"
VUE_APP_REALTIME_TWEETS_SCREEN_MESSAGE="https://domainname.com/path/to/source/"
VUE_APP_DISCUSSION_LINK="https://domainname.com/path/to/source/"
VUE_APP_DISCUSSION_LINK_DESCRIPTION="foo bar"
VUE_APP_TEMPLATE_CSS="template.scss"
####################