####################
# Although there is no sensitive info in .env (yet) it is not in the repository. Create file .env and copy this info over.
####################
VITE_APP_PATH="/path/to/app/"
VITE_APP_LANGUAGE_FILE="https://domainname.com/path/to/source.js/"
# empty string for no tour:
VITE_APP_TOUR_FILE="path/to/tour.js"
VITE_APP_ID=foo
VITE_APP_STACK=1
VITE_APP_TITLE=Some title text part one
VITE_APP_TITLE_2=" Some title text part two"
VITE_APP_SUBTITLE=Some subtitle text
VITE_APP_DESCRIPTION=Description text
VITE_APP_LOGO=""
VITE_APP_LOGO_URL="/"
VITE_APP_LOGO_ALT="Alt text"
VITE_APP_AUTHOR=The author

# also change the social media image in /public/config.php
VITE_APP_SOCIAL_MEDIA_IMAGE="https://domainname.com/path/to/image.jpg"
VITE_APP_SOCIAL_MEDIA_IMAGE_WIDTH=1200
VITE_APP_SOCIAL_MEDIA_IMAGE_HEIGHT=628
# leave empty to turn off:
VITE_APP_MAX_CARDS_HOMEPAGE=""
VITE_APP_PATHS_TO_ICO="path/to/ico/"
VITE_APP_GOOGLE_ANALYTICS_ID="G-XXXXXXX"
VITE_APP_NEWSTICKER=false
VITE_APP_QUIZ=false
VITE_APP_QUIZ_PAGE_SOURCE="https://domainname.com/path/to/source/"
VITE_APP_REALTIME_TWEETS=true
VITE_APP_SHOW_SOCIAL_MEDIA_IMAGE_IN_CARD=false
# also change PHP file:
VITE_APP_SOCIAL_MEDIA_IMAGES_PATH=""
VITE_APP_RANDOM_CARD=true
VITE_APP_ABOUT_PAGE_SOURCE="https://domainname.com/path/to/source/"
VITE_APP_TWEETSTREAM_HELPTEXT="https://domainname.com/path/to/source/"
VITE_APP_HOMEPAGE_VIDEO=false
VITE_APP_HOMEPAGE_VIDEO_PATH_TO_VIDEO="https://domainname.com/path/to/source.mp4/"
VITE_APP_HOMEPAGE_VIDEO_PATH_TO_POSTER_IMAGE="https://domainname.com/path/to/source.jpg/"

# source should return an array with urls. Empty string -> no carousel:
VITE_APP_HOMEPAGE_ILLUSTRATIONS_CAROUSEL=""
VITE_APP_REDIRECTS_FILE="https://domainname.com/path/to/source.js/"
VITE_APP_NEWSTICKER_SOURCE="https://domainname.com/path/to/source/"
VITE_APP_MEDIA_LOCATION="https://domainname.com/path/to/source/"
####################

####################
# Data source:
####################
VITE_APP_CARDS_CONTENT="https://domainname.com/path/to/source/"

####################
# General config:
####################
VITE_APP_CARDGAME_SCORES="https://domainname.com/path/to/source/"
VITE_APP_REALTIME_TWITTER_JSON="https://domainname.com/path/to/source/"
VITE_APP_PROSPECT_SOCIAL_MEDIA_HANDLES_CSV="https://domainname.com/path/to/source/"
VITE_APP_REALTIME_TWEETS_SCREEN_MESSAGE="https://domainname.com/path/to/source/"
VITE_APP_SHOW_KEYWORDS="true"
VITE_APP_DISCUSSION_LINK="https://domainname.com/path/to/source/"
VITE_APP_DISCUSSION_LINK_DESCRIPTION="foo bar"
VITE_APP_TEMPLATE_CSS="template.scss"
VITE_APP_CONFETTI="false"
VITE_APP_CONFETTI_IMAGE="https://domain.com/t/media/img/pathToImage"
####################