.DS_Store
node_modules
/dist

# .env*
.env
.env-bcb
.env-btc


# local env files
# .env.local
# .env.*.local

paths.config.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/


# /src/assets/img/
# /src/assets/audio/
# /src/assets/video/
# /src/assets/fonts/


# /public/img/
/public/php/writeCSV.php