.DS_Store
node_modules
/dist

# no .env except .env.example
*.env

# local env files
# .env.local
# .env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/

# /src/assets/img/
/src/assets/audio/
# /src/assets/video/
# /src/assets/fonts/
/src/assets/source-files/


# /public/img/
/public/php/writeCSV.php

# Bash script
live.*.sh
local.*.sh
live.sh
local.sh


# Vue source config files
vue.config.*.js
vue.config.js

# source htaccess files
*.htaccess
.htaccess


#video
video/

_credits.txt

#css
src/assets/css/*.css
src/assets/css/quiz/*.css