.DS_Store
node_modules
/dist

# .env*
.env
.env.bcb.env
.env.btc.env
.env.ssi.env
.env.test.env


# local env files
# .env.local
# .env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/

# /src/assets/img/
/src/assets/audio/
# /src/assets/video/
# /src/assets/fonts/
/src/assets/source-files/


# /public/img/
/public/php/writeCSV.php

# Bash script
live.sh
live.bcb.sh
live.btc.sh
live.ssi.sh
local.btc.sh

# Vue source config files
vue.config.bcb.js
vue.config.btc.js
vue.config.ssi.js
vue.config.test.js

# source htaccess files
.bcb.htaccess
.btc.htaccess
.ssi.htaccess
.test.htaccess

#video
video/

_credits.txt
