#!/bin/bash
# SIMPLE SCRIPT THAT COPIES FILES TO LIVE SITE
# INSTRUCTIONS
# adding --progress option to rsync command will output progress to screen

# INSTRUCTIONS
# 1: COPY THIS TO A FILE NAMED live.sh
# 2: ENTER CORRECT PATHNAMES
#
#

# ####################
# # UPDATE MECHANISM:

# # Names of two files that will contain an identical timestamp
# JSONFILE='./public/updater.json'
# JSFILE='./src/assets/js/updater.js'

# # Create the files
# touch $JSONFILE
# touch $JSFILE

# # Create a timestamp
# NOW=$( date '+%m%d%y%H%M%S' )

# # Fill JSON file
# printf "{" > $JSONFILE;
# printf "\n" >> $JSONFILE;
# printf "\"versionNew\": " >> $JSONFILE;
# printf '\"' >> $JSONFILE;
# printf $NOW >> $JSONFILE;
# printf '\"' >> $JSONFILE;
# printf "\n" >> $JSONFILE;
# printf "}" >> $JSONFILE;

# # Fill JS file
# printf "export var versionCurrent = " > $JSFILE;
# printf '\"' >> $JSFILE;
# printf $NOW >> $JSFILE;
# printf '\"' >> $JSFILE;
# printf ';' >> $JSFILE;

# # END
# ####################



# CREATE A BUILD IN /dist
npm run build

# COPY TO LIVE SERVER
rsync -vurt --delete dist/. xxxxx@xxxxx.com:/path/to/dir/