module.exports = {

  // https://cli.vuejs.org/config/#publicpath

  //=============
  // if your app will run from a sub directory then this is the path to the sub directory
  publicPath: process.env.NODE_ENV === 'production' ? process.env.VUE_APP_PATH : '/',
  //=============

  lintOnSave: false,
  css: {
    loaderOptions: {
      sass: {
        prependData: '@import "@/assets/css/template-base.scss";@import "@/assets/css/' + process.env.VUE_APP_TEMPLATE_CSS + '";'
      }
    }
  },
  devServer: {//https://github.com/vuejs/vue-cli/issues/2051#issuecomment-420320469
    watchOptions: {
      // poll: true
    }
  }
};