# https://stackoverflow.com/a/49661967
<IfModule mod_rewrite.c>
    RewriteEngine On


    ####################
    # BTC version:
    # (local development server ignores the RewriteBase)
    RewriteBase /t/btc/
    ####################

    ####################
    # BCB version:
    # (local development server ignores the RewriteBase)
    # RewriteBase /t/bcb/
    ####################
    
    ####################
    # Test version:
    # (local development server ignores the RewriteBase)
    # RewriteBase /t/cardgametest/
    ####################
    
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) index.html [QSA,L]
</IfModule>


# example redirects:
# Redirect 301 /publish https://blockchainbird.com/vue-cardgame/php/writeCSV.php
# Redirect 301 /pub/ https://dwarshuis.com
