
$subMenuOffsetTopOnSmallScreen: 50px;
$cardFullTextIndent: 1.8em;


// General design
$text: #eee;
$backgroundBCB: #4c557c;
$backgroundSSI: #292b33;


$generalLinksText: #2A3166;
$generalLinksTextHover: #2A3166;
$linksText: #2A3166;


// 2: CardIntro
$overlayItemText: #eee;

// 3: CardFull
$cardFullText: #eee;

// Menus
$hr1menu: #000;



$color1: #0D1227;
$color2: #3A457D;
$color3: #eee;
