$mainMenuHightWhenOpen: 15em;
$subMenuOffsetTopOnSmallScreen: 50px;
$cardFullTextIndent: 1.8em;




// IN USE
// https://designshack.net/articles/trends/best-website-color-schemes/
// #EE7879 #2A3166 #F4ABAA #CAE7DF #3A457D

//================
$_text1: #eee;
$_border1: #3A457D;
$_background1: #0D1227;
$_background1BCB: #4c557c;
$_background1SSI: #292b33;
$_link1: #2A3166;
$_linkHover1: #2A3166;
//================
$_text2: #2A3166;
$_border2: #3A457D;
// $_background2: rgb(187, 233, 220);
$_background2: #39446D;
$_link2: #0a3d62;
$_linkHover2: #0a3d62;
//================
$___boxTextVisitedCheckmark: #87e67a;
$a14: #222;
//================



// @mixin content($a, $b) {
//     $_text1: $a;
//     $_background1: $b;
//   }

// .foo {
//     @include content(#2A3166, #CAE7DF);
// }

// .bar {
//     @include content(#434d96, #bccdf0);
// }








////////////////////////


// General design
$text: $_text1;
$background: $_background1;
$backgroundBCB: $_background1BCB;
$backgroundSSI: $_background1SSI;
$loadingBackground: $_background2;

// 1: Grid
$cardGridBackground: $_background1;
$cardGridBorder: $_border1;




$generalLinksText: $_link1;
$generalLinksTextHover: $_link1;
$linksText: $_link1;
$linksBorder: $_border1;
$borderDrawingEffect: $_text1;
$linksHoverBackground: transparent;




// 2: CardIntro
$cardLink: $_text2;
$cardLinkHover: $_linkHover2;
$cardBorder: $_border2;
$cardBackground: $_background2;

$overlayItemText: $_text1;
$overlayItemBackground: $_background1;

// 3: CardFull
$cardFullText: $_text1;
$cardFullBackground: $_background1;
$cardFullBlockText: $_text2;
$cardFullBlockBackground: $_background2;
$cardFullBlockLink: $_link1;





// Menus
$menuItemsAndButtonsBorder: $_border1;
$hr1menu: #000;
$categoryLinksBorderActive: $_text1;
$categoryLinksBackgroundActive: $_background2;


// Slide-in menu
$slideInMenuBackgroundColor: $_background2;
$slideInMenuTextColor: $_text1;
$slideInMenuLinkColor: $_link1;
$slideInMenuLinkHoverColor: $_link1;







//TODO: still used?
$boxTextInnerReverseBackground: $_text1;
$boxTextInnerReverseText: $_text1;

$boxTextVisited: $___boxTextVisitedCheckmark;
$boxTextVisitedCheckmark: $___boxTextVisitedCheckmark;

$slider: #2196F3;
$slider2: #ccc;


// SEARCH
// $searchBoxText: $a1;
// $searchBoxBorder: $a1;
// $searchStringBackground: $a15;
// $searchStringBorder: #222;


// REPORT
$reportBackground: #a7e7cd;
$reportWarningText: #900;