// https://flatcolors.net/palette/255-organic-earthy#

$subMenuOffsetTopOnSmallScreen: 50px;
$cardFullTextIndent: 1.8em;



// code palette https: //codepen.io/syndicatefx/pen/XWajRJq
$color1: #2F3032;
$color2: none;
$color3: #ea6962;
$color4: #2F3032;
$color5: #e78a4e;
$color6: #DEC7A1;
$color7: #d8a657;
$color8: #a9b665;
$color9: #89b482;
$color10: #a9b665;
$color11: #474E71;
$color12: #2F3558;

$shadow1: 0px 0px 37px 0px $color4;
$shadow2: -10px 10px 0, 10px -10px 0 $color4;
$shadow3: 0px 0px 37px 0px $color4;


$linear-gradient1: #{linear-gradient(to right, #cb91ec, #c174ee)};

//BODY
$body-color: $color3;
$body-background: $color1;
$body-background-image: none;
$game-title: $color3;
$game-subtitle: $color3;


// CARD OVERVIEW
$card-overview-text: $color1;
$card-overview-text-decoration: "none";
// background
.card-columns {
    >.card {
        background: $color8;
    }
}
$borders: $color2;
$card-footer-background: $color5;
$card-footer-link-color: $color3;
//category dropdown button
$button-categories-color: #F0D8A8;
$button-categories-background: #786048;// color of button and also background of dropdown box
$button-categories-background-hover: #484830;
$category-menu-item-color: #786048;
$category-menu-item-background:#F0D8A8;


// CARD INTRO + CARD FULL
$misconception-heading-color: $color3;
$reply-heading-color: #484830;
$misconception-short-and-elaborate-color: $color3;


// CARD INTRO
$misconception-container-background: $color4;
$misconception-container-color: $color3;
$card-intro-color: #484830;
$card-intro-background: $color9;
$card-intro-content-item-color: #484830;
$card-intro-content-item-background: #909060;
$card-intro-box-shadow: 0 0 1000px 1000px  rgba(34, 34, 34, 0.8);// background around the box
// back / close:
$card-intro-back-color: #F0D8A8;
$card-intro-back-background: #{linear-gradient(#484830, #484830)};
$card-intro-back-background-bigscreen: none;
$card-intro-back-color-bigscreen: $color3;


// CARD FULL
$card-full-color: $color3;
$card-full-background: $color9;
$card-full-content-item-color: #484830;
$card-full-content-item-background: #909060;
//back button
$card-full-back-color: #F0D8A8;
$card-full-back-background: #{linear-gradient(#484830, #484830)};
$card-full-back-background-bigscreen: none;
$card-full-back-color-bigscreen: $color3;


//PAGE FOOTER
$page-footer-background: #484830;
$page-footer-color: #eee;


//SEARCH
//search bar
$search-bar-color: $color1;
$search-bar-background: $color3;
$search-bar-focus-color: #ddd;
$search-bar-focus-background: #ddc28c;
//search results
$search-results-color: #484830;
$search-results-background: $color7;
//closing button
$button-hide-search-results-color:#eee;


//MAIN MENU
$main-menu-link: $color1;
$main-menu-link-active: $color3 !important; //TODO find out where the stronger declaration is that makes !important necessary
$main-menu-link-background-active: $color1;
$main-menu-background: $color8;
$main-menu-border-width: 0 0 0.1em 0;
$main-menu-border-style: solid;
$main-menu-border-color: $color9;
$main-menu-padding: 0.5em 0 0.1em 0;


//NOTIFICATIONS
$toast-header-background: $linear-gradient1;
$toast-content-color: #484830;
$toast-content-background: #C0A878;

//CATEGORIES
$category-color: $color1;
$category-background: #909060;

.misconception-typed {
    text-align: center;
}