// https://flatcolors.net/palette/255-organic-earthy#

$subMenuOffsetTopOnSmallScreen: 50px;
$cardFullTextIndent: 1.8em;

$color1: #0D1227;
$color2: #3A457D;
$color3: #111;
$color4: #000;
$color5: #2A3166;
$color6: #b1bae9;
$color7: #111;
$color8: #5965F9;
$color9: #5FE2FC;
$color10: #eee;
$color11: #474E71;
$color12: #2F3558;

$shadow1: 0px 0px 37px 0px rgba(0, 0, 0, 1);
$shadow2: -10px 10px 0, 10px -10px 0 $color4;
$shadow3: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);


$linear-gradient1: #{linear-gradient(to right, #909060, #909060)};


$basic1: $color3;
$basic2: $color4;
$basic3: $color5;


//BODY
$body-color: #0b1320;
$body-background: #F0D8A8;
$body-background-image: none;
$game-title: #333;
$game-subtitle: #333;


// CARD OVERVIEW
$card-overview-text: #484830;
// background
.card-columns {
    >.card {
        background: #C0A878;
    }
}
$borders: $color2;
$card-footer-background: #C0A878;
$card-footer-link-color: $color3;
//category dropdown button
$button-categories-color: #F0D8A8;
$button-categories-background: #786048;// color of button and also background of dropdown box
$button-categories-background-hover: #484830;
$category-menu-item-color: #786048;
$category-menu-item-background:#F0D8A8;


// CARD INTRO + CARD FULL
$misconception-heading-color: $color3;
$reply-heading-color: #484830;
$misconception-short-and-elaborate-color: $color3;


// CARD INTRO
$card-intro-color: #484830;
$card-intro-background: #C0A878;
$card-intro-content-item-color: #484830;
$card-intro-content-item-background: #909060;
$card-intro-box-shadow: 0 0 1000px 1000px  rgba(34, 34, 34, 0.8);// background around the box
// back / close:
$card-intro-back-color: #F0D8A8;
$card-intro-back-background: #{linear-gradient(#484830, #484830)};
$card-intro-back-background-bigscreen: none;
$card-intro-back-color-bigscreen: $color3;


// CARD FULL
$card-full-color: $color3;
$card-full-background: #C0A878;
$card-full-content-item-color: #484830;
$card-full-content-item-background: #909060;
//back button
$card-full-back-color: #F0D8A8;
$card-full-back-background: #{linear-gradient(#484830, #484830)};
$card-full-back-background-bigscreen: none;
$card-full-back-color-bigscreen: $color3;


//PAGE FOOTER
$page-footer-background: #484830;
$page-footer-color: #eee;


//SEARCH
//search bar
$search-bar-color: #eee;
$search-bar-background: #C0A878;
$search-bar-focus-color: #ddd;
$search-bar-focus-background: #ddc28c;
//search results
$search-results-color: #484830;
$search-results-background: #909060;
//closing button
$button-hide-search-results-color:#eee;


//MAIN MENU
$main-menu-link:#F0D8A8;
$main-menu-link-active: #252B44;
$main-menu-background: #909060;


//NOTIFICATIONS
$toast-header-background: $linear-gradient1;
$toast-content-color: #484830;
$toast-content-background: #C0A878;

//CATEGORIES
$category-color: $color3;
$category-background: #909060;