/* ***********************
BEGIN SKIN
*********************** */
/*
https://www.colourlovers.com/web/trends/websites/7818/Brooklyn_Beta 
*/
/* 
https://digitalsynopsis.com/design/flat-color-palettes/
*/
/* MENU */
section#startscherm div p.menu {
  font-size: 1.3em;
}

section#startscherm div p.menu a {
  display: inline-block;
  padding: 0 0.5em;
  text-decoration: none;
}

section#startscherm div p.menu a:hover {
  color: #72747a;
}

section#startscherm > div > div {
  padding: 1em;
  background: #dde2e3;
  border: 3px solid none;
}

section#startscherm div .mainblock {
  background: #d1d9dc;
  border: 3px solid #9d9c9a;
  padding: 2em;
  margin: 11px;
}

/* CODA */
.coda .tekst {
  background: #333;
}

.coda .nummering span,
.coda .nummering2 span {
  background: #d1d9dc;
  color: #72747a;
}

button {
  background: #d1d9dc;
  color: #72747a;
}

#toonNotificatie {
  background: #d1d9dc;
  color: #72747a;
  border-color: #9d9c9a;
  padding: 0 0.5em;
}

button#startGame {
  color: #72747a !important;
  background: #d1d9dc;
  border: 3px solid #9d9c9a;
}

button#startGame.disabled-and-loaded {
  font-size: 1em;
  margin: 1.5em auto;
  height: 2em;
}

/* de button voor het kopieren van tekst */
.kopieertekst {
  border: 3px solid #9d9c9a;
  background: #dde2e3;
  color: #72747a;
}

.kopieertekst:hover,
.kopieertekst:focus {
  border: 3px solid #9d9c9a;
  background: #9bbcd4;
}

.cbp-spmenu-inner {
  background: #FFB74D;
}

.cbp-spmenu-inner {
  /* font-size: 0.7em; */
  background: #FFB74D;
  text-align: left;
}

#buttonShowExtraInfo {
  background-color: #FFB74D;
  border: 3px solid #eee;
  color: #111;
  /* font-size: 0.7em; */
}

.antw {
  background: transparent !important;
}

.schaalhouder {
  background: #d1d9dc;
  color: #72747a !important;
  border-bottom: 1px solid #72747a;
}

.horizontaal .schaalhouder > div {
  border-right: 1px solid #72747a;
}

.horizontaal .schaalhouder > div:nth-child(1) {
  border-left: 1px solid #72747a;
}

.vertikaal .schaalhouder > div {
  border-bottom: 1px solid #72747a;
}

.vertikaal .schaalhouder > div:nth-child(1) {
  border-top: 1px solid #72747a;
}

/* bij vertikaal, de linker balken  */
.vertikaal .chart > div {
  background-color: #72747a;
}

/* eindresultaat balk */
.eindresultaatBalk {
  background: #82dfb4 !important;
  color: #72747a !important;
  margin-left: 0.6em;
}

/* de LINKER vertikale staafdiagrammen */
.vertikaal .chartleft div {
  background: #646363;
  font-size: 11px;
}

.vertikaal .chartleft div span {
  color: #72747a !important;
}

/* de RECHTER vertikale staafdiagrammen */
/* ROTEREN voeg een span toe als je wilt ROTEREN */
/* .vertikaal .chart div span {
    color: #8FB9A8;
    display: inline-block;
    line-height: 1;
} */
/* .vertikaal .chartright div span.deJuisteKeuzeTekst {
    color: #8FB9A8;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    transform: translate(0, -3em);
    line-height: 1;
} */
/* horizontale instelbare balk */
.horizontaal .instelbareBalk {
  font-size: 0.8em;
  background: #646363;
  border-right: 20px solid #4d4b4b;
}

/* vertikale instelbare balk */
.vertikaal .chart > div.instelbareBalk {
  font-size: 0.8em;
  background: #646363;
  border-top: 20px solid #4d4b4b;
  /* margin-left: 20px; */
  text-align: center;
}

.aanwijspijl p {
  font-size: 0.9em;
  color: #72747a;
  background: #dde2e3;
  border: 1px solid #72747a;
  padding: 0.5em;
  border-radius: 10px;
  /* text-shadow: 0px 0px 5px #000; */
}

/* melding dat diagram niet helemaal in beeld is */
.schaalhouderMelding {
  color: #72747a;
  background: #d1d9dc;
  border: 1em solid #9d9c9a;
  /* margin: 1em; */
}

.schaalhouderMelding:before {
  background: #dde2e3;
}

.achtergrond-vaag {
  font-size: 8em;
  font-size: 15vw;
  /*https://css-tricks.com/viewport-sized-typography/*/
  line-height: 1;
  margin: 0;
  color: #dde2e3;
  text-shadow: 0 0 13px #dde2e3;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toelichting {
  color: #72747a;
  background: #dde2e3;
  padding: 1em;
  margin: 2em auto;
}

.almost-visible {
  outline: 0;
}

.almost-visible2 {
  outline: 8px dashed #9d9c9a;
}

.startschermcirkel {
  border-radius: 50%;
  /* = 15%, almost gives us viewport width unit (15vw) */
  width: 100%;
  padding-bottom: 100%;
  text-align: center;
  /* this way we should have 1px gap between circles */
  /* margin: 35px .5px; */
  margin: 1em auto 0.5em;
  background: #D8737F;
  color: #8FB9A8;
  display: block;
  /* circle to the middle, so that... [1] */
  /* vertical-align: middle; */
  /* to use viewport based units we can safely override the old units in this way */
  /* padding-bottom: 0vw;
    font-size: 5vw;
    line-height: 7vw;
    width: 7vw;
    height: 7vw; */
  padding-bottom: 0;
  font-size: 2em;
  line-height: 2em;
  width: 20em;
  height: 20em;
}

.toelichting video,
.toelichting iframe.youtube {
  border: 10px solid #2e0330;
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.toelichting video.fullwidth,
.toelichting iframe.youtube.fullwidth {
  max-width: 100%;
}

form.miniquiz label.ditIsHetJuisteAntwoord {
  background: #82dfb4;
  color: #72747a;
  box-shadow: 0px 0px 30px 8px #35455A;
}

.legenda {
  background: #d1d9dc;
  border: 1px solid #9d9c9a;
  color: #72747a;
  /* display: inline-bl   ock; */
  /* position: absolute;
    right: 0;
    bottom: 0; */
  /* margin: 0em; */
  font-size: 0.9em;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.legenda-gekozen-antwoord,
.legenda-juiste-antwoord {
  /* border-radius: 50%; */
  display: inline-block;
  width: 1em;
  height: 1em;
}

.legenda-juiste-antwoord {
  background: #82dfb4;
  margin-left: 1em;
}

.legenda-gekozen-antwoord {
  background: #646363;
}

.volgende-pijl {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
}

.volgende-tekst {
  text-align: center;
  font-size: 0.8em;
  margin-top: 0;
}

.categorie {
  text-align: center;
  font-style: italic;
}

section#startscherm > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #72747a;
  position: relative;
  padding: 0;
  background: transparent;
  overflow: hidden;
}

section#startscherm > div h1,
section#startscherm > div h2,
section#startscherm > div h3,
section#startscherm > div a {
  color: #72747a;
}

section#startscherm > div h1 {
  font-size: 1.6em;
}

section#startscherm > div h2 {
  font-size: 1.2em;
}

section#startscherm div p {
  font-size: 0.9em;
}

section#startscherm div {
  text-align: center;
}

section#startscherm > div > video {
  position: absolute;
  width: 100%;
  /* max-height: 100%; */
  opacity: 1;
  z-index: -1;
  /*http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video*/
  /* border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%); */
}

.disclaimer {
  font-size: 0.8em !important;
  padding: 2em;
}

#socialMediaTekst {
  min-height: 20em;
}

/* in verband met JS constateren of het in vieuwport is of niet */
audio, video {
  display: block;
}

.twitter-tweet.twitter-tweet-rendered {
  margin: 0 auto;
}

/* ***********************
EINDE SKIN
*********************** */
